@import "fonts.css";
/* ROOT start */
:root {
    --fontBase: "MS";
    --fontAlt: "PS";
    --grey: #282929;
    --dark: #1f2020;
    --yellow: #ffcb02;
    --gold: #d2a90b;
    --light_grey: #fefefe;
    --white: #fff;
    --line: #5d5d5d;
}

a:hover {
    text-decoration: none;
}

body {
    background: var(--grey);
    font-family: var(--fontBase);
}

.logo {
    font-size: 26px;
    font-family: var(--fontAlt);
    color: var(--white);
    text-transform: uppercase;
    border: 1px solid;
    border-image: linear-gradient(133deg, var(--white), var(--yellow)) 1;
    padding: 7px 20px;
    line-height: 19px;
}

.logo:hover {
    color: var(--white);
}

.logo__my {
    color: var(--yellow);
}
/* ROOT end */
/* ======================= */
/* HEADER start */
.navbar {
    background: var(--dark);
    padding: 23px 0;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.menu__link {
    font-size: 20px;
    color: var(--white);
    font-family: var(--fontAlt);
    text-transform: uppercase;
    margin-left: 55px;
    transition: 0.5s;
}

.menu__link:hover {
    color: var(--yellow);
}

.dropdown-item {
    padding: 14px;
    font-family: var(--fontAlt);
    font-size: 16px;
    color: var(--grey);
}
.dropdown-menu {
    border-radius: 6px;
    padding: 0;
    overflow: hidden;
}

.dropdown-divider {
    margin: 0;
    border-top: 1px solid var(--line);
}

.navbar-expand-md>.container {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-toggler {
    color: var(--gold);
    font-size: 22px;
}

.header__info {
    background: url(../images/header_img_bg.jpg) no-repeat center center / cover;
    color: var(--white);
    font-family: var(--fontAlt);
    padding: 25px 0;
    margin-top: 80px;
}

.header__title {
    font-size: 60px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.header__description {
    line-height: 27px;
    font-size: 22px;
    text-align: justify;
}
/* HEADER end */
/* ======================= */
/* CONTENT start */
.content__title {
    color: var(--gold);
    font-size: 28px;
    font-family: var(--fontAlt);
    text-align: center;
    text-transform: uppercase;    
    line-height: 22px;
    margin-top: 60px;
    margin-bottom: 26px;
}

.content__title::before, .content__title::after  {
    content: '';
    background: var(--white);
    width: 52px;
    height: 2px;
    display: block;
    margin-left: auto;
    margin-bottom: 8px;
}

.content__title::after {
    margin: 8px auto 0 0;  
}

.content__text {
    color: var(--white);
    font-size: 18px;
    line-height: 24px;
    text-align: justify;
    margin-bottom: 57px;
}
/* CONTENT end */
/* ======================= */
/* SLIDER start */

.slider {
    background: var(--dark);
    padding: 15px 0;
}

.slider__img {
    object-fit: cover;
    border-radius: 6px;
}

.slider__title {
    color: var(--white);
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 13px;
}

.slider__title_sp {
    color: var(--gold);
}

.slider__desc {
    line-height: 24px;
    font-size: 18px;
    color: var(--white);
    text-align: justify;
    margin-bottom: 0;
}

.slider__button {
    color: var(--yellow);
    line-height: 26px;
    font-size: 40px;
}

.slider__button::after {
    color: var(--white);
}

/* SLIDER end */
/* TABS start */

.tabs__link {
    font-size: 16px;
    color: var(--dark);
    background: var(--white);
    border-radius: 19px;
    padding: 14px 30px 12px 30px;
    display: block;
    text-transform: uppercase;
    line-height: 12px;
    margin-bottom: 20px;
    transition: 0.5s;
}

.tabs__link.active, .tabs__link.active:hover {
    background: var(--dark);
    color: var(--white);
    
} 

.tabs__link:hover {
    background: var(--gold);
    color: var(--white);
}

.tabs__img {
    object-fit: cover;
    border-radius: 6px;
}

.tabs__info {
    border-radius: 6px;
    background: var(--dark);
    padding: 17px 13px 18px 23px;
}

.tabs__title {
    color: var(--gold);
    font-size: 24px;
    font-family: var(--fontAlt);
    margin-bottom: 7px;
}

.tabs__title_big {
    text-transform: uppercase;
}

.tabs__text {
    color: white;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
}

.tabs__button {
    color: white;
    background: var(--gold);
    padding: 15px 29px 14px 31px;
    line-height: 15px;
    text-transform: uppercase;
    border-radius: 22px;
    font-weight: 700;
    transition: 0.5s;
}

.tabs__button:hover {
    color: var(--white);
    background: var(--yellow);
}

/* TABS end */
/* ACCORDION start */

.accordion__button {
    border: none;
    background: var(--gold);
    padding: 17px 15px;
    color: var(--grey);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 26px;
}

.accordion__icon {
    font-size: 28px;
    margin-right: 10px;
    font-weight: 400;
}

.accordion__button.collapsed {
    background: var(--dark);
    color: white;
}

.accaordion__desc {
    color: var(--white);
    background: var(--dark);
    font-size: 18px;
    line-height: 24px;
    border: 1px solid var(--gold);
    text-align: justify;
    padding: 15px 16px 19px 14px;
}

.accordion__item {
    margin-bottom: 15px;
}
/* ACCORDION end */
/* FOOTER start */
footer {
    background: var(--dark);
    margin-top: 15px;
    padding: 20px 0;
}

.menu__link_margin {
    margin-left: 27px;
    margin-right: 27px;
}

.menu__link_margin_15 {
    margin-left: 15px;
    margin-right: 15px;
} 

.menu {
  
    margin-top: 44px;
    margin-bottom: 0;
}
/* FOOTER end */
/* ======================= */